boto==2.48.0
boto3==1.4.7
botocore==1.7.33
django-dropbox==0.0.2
django-dropbox-redux==0.0.5
django-storages==1.6.5
djangorestframework==3.6.4
dj-database-url==0.4.2
django-dropbox-upload-handler==0.1.1
django-crispy-forms==1.6.1
dropbox==8.2.0
Django==1.11.4
gunicorn==19.7.1
html5lib==0.9999999
Markdown==2.6.9
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3
pytz==2017.2