{% load staticfiles %}

<div class="banner">
   <div class="container_wrap">
      <h1>What are you looking for?</h1>
   	<div class="dropdown-buttons">   
         <div class="dropdown-button">           			
			<select>
				<option selected="" tabindex="9" style="display:none;color:#eee;">Dubai</option>
				<option>Australia</option>
				<option>Sri Lanka</option>
				<option>Newzeland</option>
				<option>Pakistan</option>
				<option>United Kingdom</option>
				<option>United states</option>
				<option>Russia</option>
				<option>Mirum</option>
			</select>
			</div>
			<div class="dropdown-button">
            <select>
					<option selected="" tabindex="9" style="display:none;color:#eee;">Education</option>
					<option>tempor</option>
					<option>congue</option>
					<option>mazim</option>
					<option>mutationem</option>
					<option>hendrerit</option>
					<option>mutationem</option>
					<option>hendrerit</option>
			   </select>
			</div>
		</div>  
		<form>
         <input type="text" value="Keyword, name, date, ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Keyword, name, date, ...';}">
			<div class="contact_btn">
            <label class="btn1 btn-2 btn-2g"><input name="submit" type="submit" id="submit" value="Search"></label>
         </div>
		</form>        		
   	<div class="clearfix"></div>
   </div>
</div>